
.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

body {
  background-color: #D9DDFF;
}

body.rmmain {
  background-color: #D9DDFF;
  overflow-y: hidden;
}

.alert {
	margin-bottom: 5px;
    margin-top: 5px;
}

th {
  color: #002596;
}

form {
	padding:0px;
}

div.rmevent {
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

div.rmattack {
  color: #FFFFFF;
  background-color: #AD1229;
}

div.rmskill {
  color: #FFFFFF;
  background-color: #126DAD;
}

div.rmgmaction {
  color: #FFFFFF;
  background-color: #444444;
}

div.activeheader {
  color: #FFFFFF;
  background-color: #444444;
  padding-bottom: 2px;
  padding-bottom: 2px;
}

div.rmtabs {
  background-color: #D9DDFF;
}

input.shortnum {
  width: 60px;
}

span.rmround {
    padding-right:10px;
}

div.eventresultbox {
    color: black;
    padding-left:5px;
}

div.rmsection {
  height: 100%;
}

div.rmtop {
  height: 450px;
  overflow-y:auto;
  position:absolute; top:0; left:0; width: 500px;
}

div.rmheader {
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: auto;
}

div.rmmiddle {
    position:absolute; top:455px; left: 0; right:0; bottom:0; height: 20px;
    text-align: center;
    font-weight: bold;
}

div.rmbottom {
  overflow-y:auto; position:absolute; top:475px; left: 0; right:0; bottom:0;  
}


.table-dense > thead > tr > th,
.table-dense > tbody > tr > th,
.table-dense > tfoot > tr > th,
.table-dense > thead > tr > td,
.table-dense > tbody > tr > td,
.table-dense > tfoot > tr > td {
  padding: 2px;
}

.groupheader {
    color: #FFFFFF;
    background-color: #000000;
}

.white {
  color: #FFFFFF;
}

.bgwhite {
  background-color: #FFFFFF;
}

.red {
  color: #FF5050;
}

.green {
  color: #50FF50;
}

.bad {
  color: #FF5050;
}

.good {
  color: #508850;
}

.black {
  color: #000000;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.subtle {
	color: #777;
}

.tcenter {
  text-align: center;
}

.enlarged {
	font-size: 120%;
}

.reduced {
	font-size: 80%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}

.navbar {min-height:30px !important;}

.nomargin {
	margin: 0px!important;
}

.nopaddingn {
	padding: 0px!important;
}

ul.navbar-nav>li.active>a{
	color: #002596 !important;
}

div.danger {
	background-color: #f2dede;
}

tr.selected {
	background-color: #00000020 !important;
}

tr.selected>td {
	background-color: #00000020 !important;
}

li.selected {
	background-color: #00000020 !important;
}

.rmresult {
    text-align: center;
}

.rminitcol {
    width: 15%;
}

.rmdatacol {
    width: 40%;
}

.rmactcol {
    width: 20%;
}

.nomargin {
    margin: 0;
}

/** 
This code from here, restores submenus to BS3 
see: https://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
**/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.hiddenfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.combathalf {
    width: 240px;
}

.att {
    background-color: #FF8D8B;
    text-align: center;
    font-weight: bold;
}

.def {
    background-color: #FFF473;
    text-align: center;
    font-weight: bold;
}

.combat {
    background-color: #EAEAEA;
    font-weight: bold;
}

.crit {
    background-color: white;
    margin: 3px;
    padding: 2px;
}

.rmdbopt {
    display:block;
}
.rmdbopt>a {
  color: #FFFFFF;  
}

.rmhidden {
    display:none;
}

            